@use './_var.scss' as *;
@use './_mixin.scss' as *;
@use '../variables' as *;
@use 'sass:string';

.#{$prefix}-tag {
  &-base {
    @include tag();

    &:first-child {
      margin-left: 10px;
    }
  }

  &-size {
    &-samll {
      font-size: $tag-font-sm;
      @apply h-5 leading-4;
    }

    &-large {
      font-size: $tag-font-lg;
      @apply h-8 leading-8;
    }
  }

  &-close {
    @apply ml-0.5 cursor-pointer;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: $y-tag-close-bg;
    }
  }

  @each $color in $y-tag-colors {
    &-#{$color} {
      color: string.unquote($color);
      background-color: color-mix(in srgb, string.unquote($color) 15%, white);

      // 边框
      &:where(.y-tag-bordered) {
        border: 1px solid string.unquote($color);
      }

      & .y-tag-close:hover {
        background-color: color-mix(in srgb, string.unquote($color) 25%, white);
      }
    }
  }
}
