@use './_var.scss' as *;
@use './_mixin.scss' as *;
@use 'sass:string';

.y-tag {
  &-base {
    @include tag();

    &:first-child {
      margin-left: 10px;
    }
  }

  &-size {
    &-samll {
      font-size: $tag-font-sm;
      @apply h-5 leading-4;
    }

    &-large {
      font-size: $tag-font-lg;
      @apply h-8 leading-8;
    }
  }

  &-close {
    @apply ml-1 cursor-pointer;
    padding: 1px;
    cursor: pointer;
    border-radius: 50%;
    // transform: translate(5px, 1px);
  }

  @each $color in $y-tag-colors {
    &-#{$color} {
      color: string.unquote($color);
      background-color: color-mix(in srgb, string.unquote($color) 20%, white);

      // 边框
      &:where(.y-tag-bordered) {
        border: 1px solid string.unquote($color);
      }
    }

    & > &-close {
      color: string.unquote($color);

      &:hover {
        color: white;
        background-color: white;
      }
    }
  }
}
