@use './_var.scss' as *;

@mixin tag() {
  @apply box-border inline-flex items-center content-center;
  @apply px-1.5 h-6 leading-none;
  @apply border-solid border-transparent rounded;
  font-size: $tag-font-default;
  white-space: nowrap;
  background-color: rgb(var(--gray-1));
}
