@use './_var.scss' as *;
@use './_mixin.scss' as *;
@use 'sass:map';

.y-input-box {
  @include Input();

  &-focused {
    border-color: $input-focused-border-color;
    transition: all $anim-duration-base linear;

    &:hover {
      background-color: transparent;
    }
  }

  .y-input {
    &-base {
      @apply cursor-text bg-transparent box-border;
      @apply size-full border-0 outline-none;
    }

    &-base[type='password']::-ms-reveal {
      display: none;
    }

    &-size {
      @each $type in $input-size-type {
        &-#{$type} {
          font-size: map.get(map.get($input-size, $type), text);
          // padding: map.get(map.get($input-size, $type), px);
          padding: map.get(map.get($input-size, $type), py) 0;
        }
      }
    }
  }

  .y-input-icon {
    @apply cursor-pointer relative inline-flex justify-center items-center text-center;
    @apply text-[14px] z-50 leading-[0] size-5 select-none;
    background-color: inherit;
    transition: all $anim-duration-base linear;

    &:before {
      @apply absolute rounded-full block;
      @apply top-[50%] left-[50%] z-[-1] size-full;
      content: '';
      transform: translate(-50%, -50%);
      background-color: inherit;
    }

    &:hover {
      @apply rounded-full;
      background-color: $icon-hover-bg-color;
    }
  }
}
