@use './_var.scss' as *;
@use '../variables' as *;

@mixin Input() {
  @apply border-solid cursor-text bg-transparent box-border inline-flex items-center relative;
  @apply border-[1px] rounded-sm outline-none;
  border-color: $input-border-color;
  transition: all $anim-duration-base linear;
  padding: 0 $input-px-default;
  margin: $input-m-default;

  &:hover {
    background-color: $input-hover-bg-color;
  }
}
