@use './_var.scss' as *;

@mixin Input() {
  @apply border-[1px] border-solid cursor-text bg-transparent px-1 py-[2px] box-border;
  @apply rounded-sm outline-none inline-flex items-center text-[14px];
  border-color: $input-border-color;
  transition: all $anim-duration-base linear;

  &:hover {
    background-color: $input-hover-bg-color;
  }
}
