@use './tailwind.scss' as *;
@use './button/_index.scss' as *;
@use './divider/_index.scss' as *;

body {
  --opacity-1: 0.75;
  --opacity-2: 1;

  --white-1: 255, 255, 255;

  --primary-1: 70, 175, 198;
  --primary-2: 39, 153, 184;
  --primary-3: 232, 254, 255;

  --gray-1: 242, 243, 245;
  --gray-2: 78, 89, 105;

  --green-1: 0, 180, 42;
  --green-2: 232, 255, 234;
  --green-3: 0, 180, 42;

  --orange-1: 255, 247, 232;
  --orange-2: 255, 125, 0;

  --red-1: 255, 236, 232;
  --red-2: 245, 63, 63;
}
