@use './_var.scss' as *;
@use './_mixin.scss' as *;
@use '../variables' as *;
@use 'sass:map';

.#{$prefix}-button {
  &-base {
    @include button();
    @apply m-1;
  }

  /* ---大小--- */
  &-size {
    &-small {
      font-size: $btn-font-sm;
      @apply py-[0.2rem] px-[0.55rem];
    }

    &-default {
      font-size: $btn-font-default;
      @apply py-1 px-[0.6rem];
    }

    &-large {
      font-size: $btn-font-lg;
      @apply py-1.5 px-3;
    }
  }
  /* ---大小--- */

  /* ---类型--- */
  &-type {
    @each $type in $button-types {
      &-#{$type} {
        color: map.get($btn-text, $type);
        background-color: map.get($btn-bg-color, $type);
        border-color: map.get($btn-border-color, $type);
        @include button-disabled-state(map.get($btn-bg-color, $type));
        @include button-hover-handle($type, map.get($btn-hover-color, $type));

        /* 循环状态 */
        @each $status in $button-status {
          &.#{$prefix}-button-status-#{$status} {
            color: map.get(map.get(map.get($btn-status, $status), $type), text);
            background-color: map.get(map.get(map.get($btn-status, $status), $type), color);
            border-color: map.get(map.get(map.get($btn-status, $status), $type), border);

            @include button-disabled-state(map.get(map.get(map.get($btn-status, $status), $type), color));
            @include button-hover-handle($type, map.get($btn-hover-color, $status));
          }
        }
      }
    }
  }
  /* ---类型--- */
}
