@use './_var.scss' as *;
@use './_mixin.scss' as *;

.y-button {
  &-base {
    @include button();
    @apply m-1;
  }

  /* ---大小--- */
  &-size {
    &-small {
      font-size: $btn-font-sm;
      @apply py-[0.2rem] px-[0.55rem];
    }

    &-default {
      font-size: $btn-font-default;
      @apply py-1 px-[0.6rem];
    }

    &-large {
      font-size: $btn-font-lg;
      @apply py-1.5 px-3;
    }
  }
  /* ---大小--- */

  /* ---类型--- */
  &-type {
    &-primary {
      color: $btn-text-primary;
      background-color: $btn-color-primary;
      @include button-disabled-state($btn-color-primary);
      @include button-status($btn-color-primary);
    }

    &-secondary {
      color: $btn-text-secondary;
      background-color: $btn-color-secondary;
      @include hoverDark();
      @include button-disabled-state($btn-color-secondary);
    }

    &-outline {
      color: $btn-text-outline;
      background-color: $btn-color-outline;
      border-color: $btn-border-color-outline;
      @include button-disabled-state($btn-color-outline);
    }

    &-text {
      color: $btn-text-text;
      background-color: $btn-color-text;
      @include hoverBg($btn-hover-color-text);
      @include button-disabled-state($btn-color-text);
    }
  }
  /* ---类型--- */
}
