@use './_var.scss' as *;

@mixin button() {
  @apply relative z-0 cursor-pointer border-solid border-transparent bg-transparent;
  @apply inline-flex items-center justify-center align-middle	whitespace-nowrap	touch-manipulation;
  @apply overflow-hidden outline-none;
  font-size: $btn-font-default;
  outline: none;
  border-width: $btn-border-width;
  border-radius: $btn-border-radius;
  transition: all $anim-duration-base linear;

  &:hover {
    opacity: $btn-opacity-default;
  }
}

// 变暗
@mixin hoverDark() {
  &:hover {
    filter: brightness($btn-hover-dark);
  }
}

// hover之后的颜色展示
@mixin hoverBg($color, $isOpacity: true) {
  @if ($isOpacity) {
    &:hover {
      background-color: $color;
    }
  } @else {
    &:hover {
      opacity: 1;
      background-color: $color;
    }
  }
}

// 禁止按钮状态
@mixin button-disabled-state($bg-color) {
  &.y-button-is-disabled {
    @apply cursor-not-allowed;
    opacity: $btn-disabled-opacity;
    background-color: $bg-color; /* 使用传入的颜色 */
    filter: brightness(100%);
  }
}

// 按钮类型
@mixin button-status($bg-color) {
  &.y-button-status-* {
    @apply cursor-not-allowed;
    opacity: $btn-disabled-opacity;
    background-color: $bg-color; /* 使用传入的颜色 */
    filter: brightness(100%);
  }
}
